apache-airflow
awscli
black
boto3
diagrams
dbt-snowflake
Faker
flake8
humanfriendly
humanize
j2cli
jinja2
jq
numpy
openpyxl
pandas
pendulum
pre-commit
pylint
pymssql
pyodbc
pytest
pyyaml
snowflake-connector-python
sqlfluff
wget
virtualenv
yq
