
# Airflow-Related Libraries
apache-airflow

# Commonly Used/CLI Libraries
awscliv2

# Code Quality Libraries
black
boto3
dbt-snowflake

# General Purpose/Other Libraries
diagrams

# Database-Related Libraries
duckdb
Faker
flake8
gunicorn
humanfriendly
j2cli

# File Parsing Libraries
numpy
openpyxl
pandas
pendulum
pre-commit
pyarrow
pylint
pylint-airflow
pymssql
pyodbc
pytest
pyyaml
s3fs
shandy-sqlfmt[jinjafmt]
# dbt-Related Libraries
snowflake-connector-python
SQLAlchemy
sqlfluff
sqlfluff-templater-dbt
urllib3
virtualenv
virtualenvwrapper
wget
yq
