apache-airflow
awscliv2
black
boto3
dbt-snowflake
diagrams
Faker
flake8
gunicorn
humanfriendly
humanize
j2cli
jinja2
jq
numpy
openpyxl
pandas
pendulum
pre-commit
pyarrow
pylint
pylint-airflow
pymssql
pyodbc
pytest
pyyaml
s3fs
snowflake-connector-python
SQLAlchemy
sqlfluff
urllib3
virtualenv
wget
yq
